
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: rgb(145, 25, 25);
    margin: 25px 50px 50px 50px;
}

p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
    color:darkgreen;
    margin: 25px 50px 35px 50px;
}

.mijnAfbeelding{
    width: 1000px;
    height: 500;
    margin: 0px 0px 0px 50px;
}   

button{
    margin: 0px 0px 0px 10px;
}